* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: 1.125rem;
    font-weight: 300px;
    color: #9194a1;
    line-height: 1.5em;
}
a {
    text-decoration: none;
    color: inherit;
    margin-right: 2%;
}
#secnav {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    padding: 2%;
}
#headerlinks {
    width: 40%;
}
.button {
    background-color: #fa5757;
    border-radius: 7px;
    color: #fff;
    padding: 12px 25px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.125rem;
    font-weight: 200px;
    line-height: 1.5em;
    border: ivory;
}
.button:hover {
    background-color: white;
    border: 2px solid #fa5757;
    color: #fa5757;
}
#two {
    display: flex;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}
#two-one {
    margin-left: 8%;
    width: 500px;
    margin-top: 100px;
    height: 550px;
    padding-bottom: 20px;
}
#two-one h1 {
    font-weight: 50px;
    line-height: 1.2em;
    color: #000;
    margin-bottom: 15px;
    font-size: 25px;
}
#two-one p {
    color: #9194a1;
    margin-top: 0;
    margin-bottom: 20px;
}
.chromebtn {
    box-shadow: 1px 3px 10px rgb(0 0 0 / 10%);
    background: #5368df;
    color: white;
    border-radius: 10px;
    padding: 12px 28px;
    border: none;
    font-family: 'Rubik', sans-serif;
    display: inline-block;
    font-size: 1rem;
    width: 190px;
}
.firefoxbtn {
    box-shadow: 1px 3px 10px rgb(0 0 0 / 10%);
    background: #FFF;
    color: #000;
    border-radius: 10px;
    width: 190px;
    padding: 12px 28px;
    border: none;
    font-family: 'Rubik', sans-serif;
    display: inline-block;
    font-size: 1rem;
}
#two-two {
    width: 50%;
    height: 500px;
    margin-top: 100px;
}
.high {
    position: relative;
    z-index: 1;
    bottom: 100px;
    right: 2px;
}
.low {
    position: absolute;
    right: 0px;
    width: 550px;
}

#three {
    width: 100%;
    margin-top: 20px;
    align-items: center;
}
#three-one {
    margin-left: 400px;
    text-align: center;
    width: 50%;
    padding-top: 1px;
    z-index: 0;
}
#three-one h2 {
    font-weight: 1px;
    color: #000;
    margin-bottom: 10px;
    font-size: 30px;
    width: 600px;
    line-height: 1.2em;
}
#three-one p {
    color: #9194a1;
    margin-bottom: 0;
    width: 600px;
    margin-top: 20px;
}
#three-two ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-items: center;
    width: 50%;
    margin: 20px auto;
    border-bottom: 1px solid #9194a1
}
#three-two li {
    height: 50px;
    text-align: center;
    width: 400px;
}
#three-two li:hover {
    background-color: #f12e2e;
}
#four {
    display: flex;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}
#four-one {
    width: 50%;
    height: 500px;
    margin-top: 50px;
}
.high2 {
    position: relative;
    z-index: 1;
    bottom: 30px;
    left: 100px;
}
.low2 {
    position: absolute;
    left: 0px;
    width: 550px;
}
#four-two {
    margin-right: 8%;
    width: 500px;
    margin-top: 100px;
    height: 550px;
    padding-bottom: 20px;
}
#four-two h2{
    font-weight: 50px;
    line-height: 1.2em;
    color: #000;
    margin-bottom: 15px;
    font-size: 25px;
}
#four-two p {
    color: #9194a1;
    margin-top: 0;
    margin-bottom: 20px;
}
.info {
box-shadow: 1px 3px 10px rgb(0 0 0 / 10%);
    background: #5368df;
    color: white;
    border-radius: 10px;
    padding: 13px 20px;
    border: none;
    font-family: 'Rubik', sans-serif;
    display: inline-block;
    font-size: 1rem;
    width: 150px;
    margin-bottom: 5px;
}
.info:hover {
    background-color: white;
    border: px solid #5368df;
    color: #5368df;
}
#five {
    width: 100%;
    margin-top: 20px;
    align-items: center
}
#five-one {
    margin-left: 400px;
    text-align: center;
    width: 50%;
    padding-top: 1px;
    z-index: 0;
}
#five-one h2 {
    font-weight: 1px;
    color: #000;
    margin-bottom: 10px;
    font-size: 30px;
    width: 600px;
    line-height: 1.2em;
}
#five-one p {
    color: #9194a1;
    margin-bottom: 0;
    width: 600px;
     margin-top: 20px;
}
#six-one {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    height: 380px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0 rgb(0 0 0 / 10%);
    text-align: center;
    margin-right: 30px;
}
.card img {
    width: 25%;
    height: 20%;
    margin-top: 25px;
}
.card h3 {
    font-weight: 1px;
    color: #000;
    margin-bottom: 0;
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.2em;
    text-align: center;
}
.card p {
    color: #9194a1;
    margin-top: 40px;
    margin-bottom: 20px;
}
.dash {
    border-top: 4px dashed #9194a1;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}
.btn {
    box-shadow: 1px 3px 10px rgb(0 0 0 / 10%);
    background: #5368df;
    color: white;
    border-radius: 10px;
    padding: 13px 20px;
    border: none;
    font-family: 'Rubik', sans-serif;
    display: inline-block;
    font-size: 1rem;
    width: 250px;
}
.btn:hover {
    background-color: white;
    border: 2px solid #5368df;
    color: #5368df;
}
#six-one > div:nth-child(2) {
    margin-top: 60px;
}
#six-one > div:nth-child(3) {
    margin-top: 120px;
}
#seven {
    width: 100%;
    margin-top: 20px;
    align-items: center;
}
.faq {
    margin-left: 400px;
    text-align: center;
    width: 50%;
    padding-top: 1px;
    z-index: 0;
}
.faq-title h2 {
    font-weight: 1px;
    color: #000;
    margin-bottom: 10px;
    font-size: 30px;
    width: 600px;
    line-height: 1.2em;
}
.faq-title p {
    color: #9194a1;
    margin-bottom: 20px;
    width: 600px;
    margin-top: 20px;
}
.question {
    text-align: left;
    color: #000;
    font-size: 25px;
    font-weight: 1px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 10px;
}
.answer {
    font-family: 'Rubik', sans-serif;
    color: #9194a1;
    text-align: left;
}
#eight {
    background-color: #5368df;
    width: 100%;
    height: 350px;
}
.eight-one {
    padding-top: 50px;
    align-items: center;
    text-align: center;
}
.eight-two p{
    color: #fff;
    margin-bottom: 60px;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: 450;
}
.eight-two h2{
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 450;
}
.email {
     padding-top: 50px;
    align-items: center;
    text-align: center;
}
.email  input {
    width: 200px;
    font-family: 'Rubik', sans-serif;
    border-radius: 10px;
    padding: 13px 25px;
    box-shadow: 1px 3px 10px rgb(0 0 0 / 10%);
    border: none;
    margin-right: 10px;
}
.email button {
    box-shadow: 1px 3px 10px rgb(0 0 0 / 10%);
    background: #fa5757;
    color: white;
    border-radius: 10px;
    padding: 13px 20px;
    border: none;
    font-family: 'Rubik', sans-serif;
    display: inline-block;
    font-size: 1rem;
    width: 150px;
}
button:hover {
    background-color: white;
    border: 2px solid #fa5757;
    color: #fa5757;
}
.footer {
    width: 100%;
    height: 80px;
    background: #252b46;
}
.footer-list {
    width: 200px;
    height: 30px;
    line-height: 80px;
    display: inline-flex;
    position: relative;
    top: 1px;
    margin-bottom: 130px;
    background-size: cover;
    background-size: 65%;
    cursor: pointer;
    margin-left: 100px;
}
.footer-list a {
    color: #fff;
    margin-left: 40px;
    font-size: 1rem;
    
}
.footer-list a:hover {
    color: #f12e2e;
}
.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 87%;
    line-height: 80px;
}
.sns svg {
    margin-right: 30px;
    cursor: pointer;
    margin-bottom: 50px;
}
.rights {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
}
.rights a {
    color: #3e52a3;
}